.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition:
    transform 150ms ease,
    box-shadow 100ms ease;
  padding-right: calc(var(--mantine-spacing-md));
  padding-left: calc(var(--mantine-spacing-sm));
  padding-top: calc(var(--mantine-spacing-sm));
  padding-bottom: calc(var(--mantine-spacing-sm));
  /* @mixin hover { */
  /*   box-shadow: var(--mantine-shadow-md); */
  /*   transform: scale(1.02); */
  /* } */
}

.pageContainer {
  padding: var(--mantine-spacing-xl);
}

.titleChart {
  font-size: rem(23px);
  font-weight: 600;

  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: rem(200px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}
.title {
  font-size: rem(23px);
  font-weight: 600;

  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: rem(200px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.description {
  max-width: rem(600px);
  margin: auto;
}

.titleCard {
  border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));

  /* background-color: var(--mantine-color-gray-0); */
}
.card {
  border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.cardTitle {
  color: var(--mantine-color-blue-8);
  &::after {
    content: '';
    display: block;
    /* background-color: var(--mantine-color-blue-filled); */
    width: rem(45px);
    height: rem(2px);
    color: var(--mantine-color-blue-6);
    margin-top: var(--mantine-spacing-sm);
  }
}
.sectionTitle {
  color: var(--mantine-color-blue-8);
}
.supTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-blue-light-color);
  letter-spacing: rem(0.5px);
}
.chartContainer {
  position: relative;
  /* max-width: rem(833px); */
  width: 100%;
  margin-top: var(--mantine-spacing-lg);
}
.cardTitleSmall {
  font-size: rem(24px);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: var(--mantine-spacing-sm);
}
