.awayCard {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition:
    transform 150ms ease,
    box-shadow 100ms ease;
  padding-right: calc(var(--mantine-spacing-sm));
  padding-left: calc(var(--mantine-spacing-md));
  padding-top: calc(var(--mantine-spacing-sm));
  padding-bottom: calc(var(--mantine-spacing-sm));
  @mixin hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.02);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: rem(6px);
    background-image: linear-gradient(0, var(--mantine-color-gray-7), var(--mantine-color-gray-7));
  }
}

.homeCard {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition:
    transform 150ms ease,
    box-shadow 100ms ease;
  padding-right: calc(var(--mantine-spacing-md));
  padding-left: calc(var(--mantine-spacing-sm));
  padding-top: calc(var(--mantine-spacing-sm));
  padding-bottom: calc(var(--mantine-spacing-sm));
  @mixin hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.02);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: rem(6px);
    background-image: linear-gradient(0, var(--mantine-color-gray-7), var(--mantine-color-gray-7));
  }
}
.highlightTeam {
  color: var(--mantine-color-gray-7);
}
.highlightWinner {
  color: var(--mantine-color-lime-5);
}
.highlightLoser {
  color: var(--mantine-color-pink-6);
}
.awayLogo {
  margin-left: var(--mantine-spacing-xl);
}

.homeLogo {
  margin-right: var(--mantine-spacing-xl);
}
.cardContainer {
  padding-top: var(--mantine-spacing-lg);
  justify-content: space-between;
  position: relative;
}
